{% extends '::base.html.twig' %}

{% block body -%}

	<div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="fa fa-ticket font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Mis ticket</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_nuevos" data-toggle="tab" aria-expanded="true"> Nuevos </a>
                    </li>
                    <li class="">
                        <a href="#tab_no_aplica" data-toggle="tab" aria-expanded="false"> No aplica </a>
                    </li>
                    <li class="">
                        <a href="#tab_resuelto" data-toggle="tab" aria-expanded="false"> Resuelto </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_nuevos">
                    
                        <div class="mt-actions">

                            {% block nuevo -%}
                                {{ render(controller('TicketBundle:Ticket:nuevoTicket')) }}
                            {% endblock %}
                           
                                                                                    
                         </div>                
                    </div>
                    
                    <div class="tab-pane" id="tab_no_aplica">
                                          
                      	<div class="mt-actions">
                            
                            {% block noAplica -%}
                                {{ render(controller('TicketBundle:Ticket:noAplica')) }}
                            {% endblock %}
                                                
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_resuelto">
                                          
                      	<div class="mt-actions">

                            {% block resuelto -%}
                                {{ render(controller('TicketBundle:Ticket:resuelto')) }}
                            {% endblock %}
                         
                        </div>
                    </div>


               	</div>
            </div>
        </div>
   	</div>
{% endblock %}