{% extends '::base.html.twig' %}

{% block body -%}

<pre>{{dump(ticket)}}</pre>
	<div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="fa fa-ticket font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Mis ticket</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_nuevos" data-toggle="tab" aria-expanded="true"> Nuevos </a>
                    </li>
                    <li class="">
                        <a href="#tab_no_aplica" data-toggle="tab" aria-expanded="false"> No aplica </a>
                    </li>
                    <li class="">
                        <a href="#tab_resuelto" data-toggle="tab" aria-expanded="false"> Resuelto </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_nuevos">
                    
                        <div class="mt-actions">

                            <div class="mt-action">
                                <div class="mt-action-img">
                                    <img src=""> 
                                </div>
                                <div class="mt-action-body">
                                	<div class="mt-action-row">
                                        <div class="mt-action-info ">
                                            <div class="mt-action-icon ">
                                                <i class=" icon-bubbles"></i>
                                            </div>
                                            <div class="mt-action-details ">
                                                <span class="mt-action-author">{{usuario.nombre}}</span>
                                                <p class="mt-action-desc">pending for approval pending for approval pending for approval pending for approval</p>
                                            </div>
                                        </div>
                                        <div class="mt-action-buttons ">
                                            <div class="btn-group btn-group-circle">
                                                <button type="button" class="btn btn-outline green btn-sm">Appove</button>
                                                <button type="button" class="btn btn-outline red btn-sm">Reject</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-action">
                                <div class="mt-action-img">
                                    <img src=""> 
                                </div>
                                <div class="mt-action-body">
                                    <div class="mt-action-row">
                                        <div class="mt-action-info ">
                                            <div class="mt-action-icon ">
                                                <i class="icon-magnet"></i>
                                            </div>
                                            <div class="mt-action-details ">
                                               	<span class="mt-action-author">yo</span>
                                                <p class="mt-action-desc">approval</p>
                                            </div>
                                        </div>
                                        <div class="mt-action-datetime ">
                                            <span class="mt-action-date">3 jun</span>
                                            <span class="mt-action-dot bg-green"></span>
                                            <span class="mt=action-time">9:30-13:00</span>
                                        </div>
                                        <div class="mt-action-buttons ">
                                            <div class="btn-group btn-group-circle">
                                                <button type="button" class="btn btn-outline green btn-sm">Appove</button>
                                                <button type="button" class="btn btn-outline red btn-sm">Reject</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                                                    
                         </div>                
                    </div>
                    
                    <div class="tab-pane" id="tab_no_aplica">
                                          
                      	<div class="mt-actions">
                            <div class="mt-action">
                                <div class="mt-action-img">
                                    <img src=""> 
                                </div>
                                <div class="mt-action-body">
                                    <div class="mt-action-row">
                                        <div class="mt-action-info ">
                                            <div class="mt-action-icon ">
                                                <i class="icon-action-redo"></i>
                                            </div>
                                            <div class="mt-action-details ">
                                                <span class="mt-action-author">Frank Cameron</span>
                                                <p class="mt-action-desc">pending for approval pending for approval pending for approval pending for approval</p>
                                            </div>
                                        </div>
                                        <div class="mt-action-datetime ">
                                            <span class="mt-action-date">3 jun</span>
                                            <span class="mt-action-dot bg-red"></span>
                                            <span class="mt=action-time">9:30-13:00</span>
                                        </div>
                                        <div class="mt-action-buttons ">
                                            <div class="btn-group btn-group-circle">
                                                <button type="button" class="btn btn-outline green btn-sm">Appove</button>
                                                <button type="button" class="btn btn-outline red btn-sm">Reject</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                
                        </div>
                    </div>

                    <div class="tab-pane" id="tab_resuelto">
                                          
                      	<div class="mt-actions">
                            <div class="mt-action">
                                <div class="mt-action-img">
                                    <img src=""> 
                                </div>
                                <div class="mt-action-body">
                                    <div class="mt-action-row">
                                        <div class="mt-action-info ">
                                            <div class="mt-action-icon ">
                                                <i class="icon-action-redo"></i>
                                            </div>
                                            <div class="mt-action-details ">
                                                <span class="mt-action-author">Frank Cameron</span>
                                                <p class="mt-action-desc">pending for approval pending for approval pending for approval pending for approval</p>
                                            </div>
                                        </div>
                                        <div class="mt-action-datetime ">
                                            <span class="mt-action-date">3 jun</span>
                                            <span class="mt-action-dot bg-red"></span>
                                            <span class="mt=action-time">9:30-13:00</span>
                                        </div>
                                        <div class="mt-action-buttons ">
                                            <div class="btn-group btn-group-circle">
                                                <button type="button" class="btn btn-outline green btn-sm">Appove</button>
                                                <button type="button" class="btn btn-outline red btn-sm">Reject</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                
                        </div>
                    </div>


               	</div>
            </div>
        </div>
   	</div>
{% endblock %}